.heroBanner {
  padding: 2rem 0; /* Reduce vertical padding to make the header shorter */
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1.5rem 0; /* Adjust padding for smaller screens */
    min-height: 150px; /* Optional: Shorter height for smaller screens */
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
